
<script id="errorTemplate" type="text/x-kendo-template">
    <div class="wrong-pass">
        <span class="info-box-icon" style="height:50px;line-height: 50px;color:white !important"><i class="fa fa-window-close-o fa-fw"></i></span>
        <div class="info-box-content">
            <span class="info-box-text" style="color:white !important">#= title #</span>
            <span class="progress-description" style="color:white !important">
                #= message #
            </span>
        </div>
    </div>
</script>

<script id="successTemplate" type="text/x-kendo-template">
    <div class="bg-aqua">
        <span class="info-box-icon" style="height:50px;line-height: 50px;"><i class="fa fa-check-circle-o fa-fw"></i></span>
        <div class="info-box-content">
            <span class="info-box-text">#= title #</span>
            <span class="progress-description">
                #= message #
            </span>
        </div>
    </div>
</script>

<script id="infoTemplate" type="text/x-kendo-template">
    <div class="bg-aqua">
        <span class="info-box-icon" style="height:50px;line-height: 50px;"><i class="fa fa-check-circle-o fa-fw"></i></span>
        <div class="info-box-content">
            <span class="info-box-text">#= title #</span>
            <span class="progress-description">
                #= message #
            </span>
        </div>
    </div>
</script>

